<h2>Templates 1.x</h2>

<div class="present">
    <div class="fragment">
        <pre><code data-trim>
input type="text" class="form-control"
      uib-datepicker-popup="{{expression}}"
      ng-model="expression"
      is-open="expression"
      min-date="expression"
      max-date="expression"
      datepicker-options="expression"
      date-disabled="expression"
      ng-required="expression"
      close-text="text"
        </code></pre>
    </div>
    <div class="fragment">
        <pre><code data-trim>
input type="text" class="form-control"
      uib-datepicker-popup="{{format}}"
      ng-model="dt"
      is-open="status.opened"
      min-date="minDate"
      max-date="maxDate"
      datepicker-options="dateOptions"
      date-disabled="disabled(date, mode)"
      ng-required="true"
      close-text="Close"
        </code></pre>
    </div>
</div>
